<a href="https://colab.research.google.com/github/rishav197/SML-assignments-IIITD/blob/main/Kaggle1/sml_kaggle1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:
train_df = pd.read_csv("/content/drive/MyDrive/Data_sml_kaggle1/Train.csv")
train_df

,Id,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,0,42,1,1,120,295,0,1,162,0,0.0,2,0,2,1
1,1,58,1,0,150,270,0,0,111,1,0.8,2,0,3,0
2,2,46,1,2,150,231,0,1,147,0,3.6,1,0,2,0
3,3,55,0,1,135,250,0,0,161,0,1.4,1,0,2,1
4,4,60,1,0,117,230,1,1,160,1,1.4,2,2,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,237,50,1,2,140,233,0,1,163,0,0.6,1,1,3,0
238,238,51,1,2,94,227,0,1,154,1,0.0,2,1,3,1
239,239,69,1,3,160,234,1,0,131,0,0.1,1,1,2,1
240,240,46,1,0,120,249,0,0,144,0,0.8,2,0,3,0
241,241,63,0,1,140,195,0,1,179,0,0.0,2,2,2,1

In [ ]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242 entries, 0 to 241
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Id        242 non-null    int64
 1   age       242 non-null    int64
 2   sex       242 non-null    int64
 3   cp        242 non-null    int64
 4   trestbps  242 non-null    int64
 5   chol      242 non-null    int64
 6   fbs       242 non-null    int64
 7   restecg   242 non-null    int64
 8   thalach   242 non-null    int64
 9   exang     242 non-null    int64
 10  oldpeak   242 non-null    float64
 11  slope     242 non-null    int64
 12  ca        242 non-null    int64
 13  thal      242 non-null    int64
 14  target    242 non-null    int64
dtypes: float64(1), int64(14)
memory usage: 28.5 KB

In [ ]:
test_df = pd.read_csv("/content/drive/MyDrive/Data_sml_kaggle1/Test.csv")
test_df

,Id,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,0,57,1,0,150,276,0,0,112,1,0.6,1,1,1
1,1,59,1,3,170,288,0,0,159,0,0.2,1,0,3
2,2,57,1,2,150,126,1,1,173,0,0.2,2,1,3
3,3,56,0,0,134,409,0,0,150,1,1.9,1,2,3
4,4,71,0,2,110,265,1,0,130,0,0.0,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,56,69,1,2,140,254,0,0,146,0,2.0,1,3,3
57,57,50,1,2,129,196,0,1,163,0,0.0,2,0,2
58,58,68,1,0,144,193,1,1,141,0,3.4,1,2,3
59,59,60,1,0,145,282,0,0,142,1,2.8,1,2,3
60,60,50,1,0,150,243,0,0,128,0,2.6,1,0,3

In [ ]:
train_df.columns

Index(['Id', 'age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg',
       'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [ ]:
X_train = train_df.drop(['Id', 'target'], axis=1)
y_train = train_df['target']

print(X_train.shape)
print(y_train.shape)

(242, 13)
(242,)

In [ ]:
X_test = test_df.drop(['Id'], axis=1)

print(X_test.shape)
X_test

(61, 13)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,57,1,0,150,276,0,0,112,1,0.6,1,1,1
1,59,1,3,170,288,0,0,159,0,0.2,1,0,3
2,57,1,2,150,126,1,1,173,0,0.2,2,1,3
3,56,0,0,134,409,0,0,150,1,1.9,1,2,3
4,71,0,2,110,265,1,0,130,0,0.0,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,69,1,2,140,254,0,0,146,0,2.0,1,3,3
57,50,1,2,129,196,0,1,163,0,0.0,2,0,2
58,68,1,0,144,193,1,1,141,0,3.4,1,2,3
59,60,1,0,145,282,0,0,142,1,2.8,1,2,3
60,50,1,0,150,243,0,0,128,0,2.6,1,0,3

In [ ]:
print(X_train.shape)
X_train

(242, 13)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,42,1,1,120,295,0,1,162,0,0.0,2,0,2
1,58,1,0,150,270,0,0,111,1,0.8,2,0,3
2,46,1,2,150,231,0,1,147,0,3.6,1,0,2
3,55,0,1,135,250,0,0,161,0,1.4,1,0,2
4,60,1,0,117,230,1,1,160,1,1.4,2,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,50,1,2,140,233,0,1,163,0,0.6,1,1,3
238,51,1,2,94,227,0,1,154,1,0.0,2,1,3
239,69,1,3,160,234,1,0,131,0,0.1,1,1,2
240,46,1,0,120,249,0,0,144,0,0.8,2,0,3
241,63,0,1,140,195,0,1,179,0,0.0,2,2,2

In [ ]:
#Standardization of the columns on the basis of Min-Max Scaling 
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

# Normalizing train data
X_train_new = pd.DataFrame(scaler.fit_transform(X_train))
X_train_new.columns = X_train.columns
X_train = X_train_new

In [ ]:
# Normalizing test data
X_test_new = pd.DataFrame(scaler.fit_transform(X_test))
X_test_new.columns = X_test.columns
X_test = X_test_new
# X_test

In [ ]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)

(242, 13)
(242,)
(61, 13)

### Recursive feature elimination

In [ ]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression()
rfe = RFE(logreg)
sf = rfe.fit(X_train, y_train)
sc = X_train.columns[rfe.get_support(indices=True)]
X_train = X_train[sc]
X_train

           cp   thalach   oldpeak  slope    ca      thal
0    0.333333  0.649123  0.000000    1.0  0.00  0.666667
1    0.000000  0.201754  0.142857    1.0  0.00  1.000000
2    0.666667  0.517544  0.642857    0.5  0.00  0.666667
3    0.333333  0.640351  0.250000    0.5  0.00  0.666667
4    0.000000  0.631579  0.250000    1.0  0.50  1.000000
..        ...       ...       ...    ...   ...       ...
237  0.666667  0.657895  0.107143    0.5  0.25  1.000000
238  0.666667  0.578947  0.000000    1.0  0.25  1.000000
239  1.000000  0.377193  0.017857    0.5  0.25  0.666667
240  0.000000  0.491228  0.142857    1.0  0.00  1.000000
241  0.333333  0.798246  0.000000    1.0  0.50  0.666667

[242 rows x 6 columns]

In [ ]:
X_test.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal'],
      dtype='object')

In [ ]:
lst = []
for col in X_train.columns:
  lst.append(col)
print(lst)

drop_cols = []
for col in X_test.columns:
  # print(col)
  if(col in lst):
    pass
  else:
    drop_cols.append(col)

print(drop_cols)


X_test = X_test.drop(drop_cols, axis=1)

print(X_test.shape)
X_test

['cp', 'thalach', 'oldpeak', 'slope', 'ca', 'thal']
['age', 'sex', 'trestbps', 'chol', 'fbs', 'restecg', 'exang']
(61, 6)

          cp   thalach   oldpeak  slope    ca      thal
0   0.000000  0.338843  0.096774    0.5  0.25  0.333333
1   1.000000  0.727273  0.032258    0.5  0.00  1.000000
2   0.666667  0.842975  0.032258    1.0  0.25  1.000000
3   0.000000  0.652893  0.306452    0.5  0.50  1.000000
4   0.666667  0.487603  0.000000    1.0  0.25  0.666667
..       ...       ...       ...    ...   ...       ...
56  0.666667  0.619835  0.322581    0.5  0.75  1.000000
57  0.666667  0.760331  0.000000    1.0  0.00  0.666667
58  0.000000  0.578512  0.548387    0.5  0.50  1.000000
59  0.000000  0.586777  0.451613    0.5  0.50  1.000000
60  0.000000  0.471074  0.419355    0.5  0.00  1.000000

[61 rows x 6 columns]

In [ ]:
# # Splitting training set into ratio of 85:15 train to validation set 
# from sklearn.model_selection import train_test_split

# # X_train_valid, X_test_valid, y_train_valid, y_test_valid = train_test_split(X_train, y_train, train_size=0.80, test_size=0.15, shuffle=True)

# X_train, X_valid, y_train, y_valid = train_test_split(X_train, y_train, test_size=0.10, shuffle=True)


# print(X_train.shape)
# print(y_train.shape)

# print(X_valid.shape)
# print(y_valid.shape)

# print(X_test.shape)

## Model : Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
logreg = LogisticRegression(solver='newton-cg')
logreg.fit(X_train, y_train)
y_pred = logreg.predict(X_test)

# y_pred_valid = logreg.predict(X_valid)
# print(accuracy_score(y_valid, y_pred_valid)*100)

In [ ]:
y_pred

array([0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0])

### prediction file generation for Logistic Regression

In [ ]:
y_pred_df = pd.DataFrame(y_pred, columns=['target']) 

id_vals = [num for num in range(len(y_pred))]
# print(len(id_vals), id_vals)

y_pred_df.insert(0, "ID", id_vals)
# y_pred_df

y_pred_df.to_csv("pred_lr.csv", encoding='utf-8', index=False)

####Saves the logistic Regression model

In [ ]:
import joblib

In [ ]:
# Save the model as a .pkl file using pickle library
joblib.dump(logreg, "logistic_reg.pkl")

# Loading the model from the logistic_reg.pkl
logreg_loaded = joblib.load("logistic_reg.pkl")
y_pred2 = logreg_loaded.predict(X_test)
print(y_pred==y_pred2)

['logistic_reg.pkl']

## Model : Decision Tree

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
d_tree = DecisionTreeClassifier()
d_tree.fit(X_train, y_train)
y_pred = d_tree.predict(X_test)
# y_pred

# y_pred_valid = d_tree.predict(X_valid)
# print(accuracy_score(y_valid, y_pred_valid)*100)

### Prediction file gen for Decision Tree classifier

In [ ]:
y_pred_df = pd.DataFrame(y_pred, columns=['target']) 

id_vals = [num for num in range(len(y_pred))]
# print(len(id_vals), id_vals)

y_pred_df.insert(0, "ID", id_vals)
# y_pred_df

y_pred_df.to_csv("pred_DT.csv", encoding='utf-8', index=False)

#### Saves the Decision Tree model

In [ ]:
# Save the model as a .pkl file using pickle library
joblib.dump(d_tree, "decision_tree.pkl")

['decision_tree.pkl']

## Model : Random Forest

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
rand_forest = RandomForestClassifier(max_depth=10)
rand_forest.fit(X_train, y_train)
y_pred = rand_forest.predict(X_test)

# y_pred_valid = rand_forest.predict(X_valid)
# print(accuracy_score(y_valid, y_pred_valid)*100)

### Prediction file gen for Random Forest classifier

In [ ]:
y_pred_df = pd.DataFrame(y_pred, columns=['target']) 

id_vals = [num for num in range(len(y_pred))]
# print(len(id_vals), id_vals)

y_pred_df.insert(0, "ID", id_vals)
# y_pred_df

y_pred_df.to_csv("pred_RF.csv", encoding='utf-8', index=False)

#### Saves the Random Forest model

In [ ]:
# Save the model as a .pkl file using pickle library
joblib.dump(rand_forest, "rand_forest.pkl")

['rand_forest.pkl']

## Model : Gaussian Naive Bayes

In [ ]:
from sklearn.naive_bayes import GaussianNB

In [ ]:
gauss_nb = GaussianNB()
gauss_nb.fit(X_train, y_train)
y_pred = gauss_nb.predict(X_test)


# y_pred_valid = gauss_nb.predict(X_valid)
# print(accuracy_score(y_valid, y_pred_valid)*100)

### Prediction file gen for Gaussian Naive bayes classifier

In [ ]:
y_pred_df = pd.DataFrame(y_pred, columns=['target']) 

id_vals = [num for num in range(len(y_pred))]
# print(len(id_vals), id_vals)

y_pred_df.insert(0, "ID", id_vals)
# y_pred_df

y_pred_df.to_csv("pred_gaussNB.csv", encoding='utf-8', index=False)

#### Saves the Gaussian Naive Bayes model

In [ ]:
# Save the model as a .pkl file using pickle library
joblib.dump(gauss_nb, "gaussian_NB.pkl")

['gaussian_NB.pkl']

## Grid Search

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RepeatedStratifiedKFold
import numpy as np

In [ ]:
# # we defined parameters for our model
# model = LogisticRegression()
# solver_arr = ['newton-cg', 'lbfgs', 'liblinear']
# penalty_arr = ['l2']
# c_vals = [100, 10, 1, 0.1, 0.01]

# parameters = dict(solver=solver_arr, penalty=penalty_arr, C=c_vals)
# # print(parameters)
# cross_valid = RepeatedStratifiedKFold(n_splits=10, n_repeats=5, random_state=1)
# cross_valid

# lr_gridSrch = GridSearchCV(estimator=model, param_grid=parameters, n_jobs=-1, cv=cross_valid)
# lr_gridSrch.fit(X_train, y_train)

# best_est = lr_gridSrch.best_estimator_
# print(best_est)
# y_pred_valid = best_est.predict(X_valid)
# print(accuracy_score(y_valid, y_pred_valid))